body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.url-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.url-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.url-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.url-form button:hover {
    background-color: #0056b3;
}

.short-url {
    margin-bottom: 20px;
}

.url-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 150px;
}

.url-table th, .url-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.url-table th {
    background-color: #f2f2f2;
}

.url-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.url-table tr:hover {
    background-color: #f1f1f1;
}

.url-table a {
    color: #007bff;
    text-decoration: none;
}

.url-table a:hover {
    text-decoration: underline;
}

.errors {
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
}

.errors ul {
    list-style-type: none;
    padding: 0;
}

.errors li {
    margin-bottom: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vue-toast-notification__container {
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
}

/* Style for success toast */
.vue-toast-notification--success {
    background-color: #28a745;
    color: white;
}

/* Style for error toast */
.vue-toast-notification--error {
    background-color: #dc3545;
    color: white;
}
