<template>
    <div class="container">
        <form @submit.prevent="submitForm" class="url-form">
            <input v-model="url" type="text" placeholder="Enter URL" required />
            <button type="submit">Shorten URL</button>
        </form>
        <div v-if="errors.length" class="errors">
            <ul>
                <li v-for="(error, index) in errors" :key="index" v-html="error"></li>
            </ul>
        </div>
        <div v-if="shortUrl" class="short-url">
            Shortened URL: <a :href="shortUrl" target="_blank">{{ shortUrl }}</a>
        </div>

        <p>You can also append the hash from the short url directly in the browser on this page after the route by doing `/{shortHash}` and you will be redirected accordingly</p>

        <table class="url-table" v-if="urls.length">
            <thead>
            <tr>
                <th>Original URL</th>
                <th>Short URL</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="url in urls" :key="url.uuid">
                <td>{{ url.original_url }}</td>
                <td><a :href="url.original_url" target="_blank">{{ url.short_url }}</a></td>
                <td>{{ new Date(url.created_at).toLocaleString() }}</td>
                <td>
                    <button @click="deleteUrl(url.uuid)">Delete</button> <!-- New delete button -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios';
import '../../css/urlForm.css';

export default {
    data() {
        return {
            url: '',
            shortUrl: '',
            urls: [],
            errors: []
        }
    },
    methods: {
        async submitForm() {
            this.errors = []; // Clear errors before submitting
            try {
                const response = await axios.post('/api/url', { url: this.url });
                this.shortUrl = response.data.data.short_url;
                this.fetchUrls(); // Refresh the URL list
            } catch (error) {
                if (error.response && error.response.status === 422) {
                    const errorMessage = error.response.data.message;
                    const urlMatch = errorMessage.match(/Short url:(http[s]?:\/\/[^\s]+), original url:(http[s]?:\/\/[^\s]+)/);
                    if (urlMatch) {
                        const shortUrl = urlMatch[1];
                        const originalUrl = urlMatch[2];
                        const errorMessageWithLink = errorMessage.replace(`Short url:${shortUrl}, original url:${originalUrl}`, `<a href="${originalUrl}" target="_blank">${shortUrl}</a>`);
                        this.errors = [errorMessageWithLink];
                    } else {
                        this.errors = [errorMessage];
                    }
                } else {
                    console.error('Error:', error);
                }
            }
        },
        async fetchUrls() {
            try {
                const response = await axios.get('/api/url');
                this.urls = response.data.data.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
            } catch (error) {
                console.error('Error fetching URLs:', error);
            }
        },
        async deleteUrl(uuid) {
            try {
                await axios.delete(`/api/url/${uuid}`);
                this.fetchUrls(); // Refresh the URL list
                this.$toast.open({
                    message: 'URL deleted successfully',
                    type: 'success',
                    position: 'top'
                });
            } catch (error) {
                console.error('Error deleting URL:', error);
                this.$toast.open({
                    message: 'Error deleting URL',
                    type: 'error',
                    position: 'top'
                });
            }
        },
    },
    mounted() {
        this.fetchUrls();
    }
}
</script>
